
.nav-link::after{
    content: '';
    display: block;
    height: 2px;
    border-bottom: 1px solid #FFEBD8;
    transform: scale(0);
    transition: all 0.5s ;
}
.nav-link:hover::after {
   transform: scale(1);
}
.nav-link:hover{
    opacity: 0.6;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}